/* aboutPage.css */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.about-content {
  max-width: 800px;
  padding: 20px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

h1,
h2 {
  color: #333;
}

p {
  color: #666;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 8px;
  transition: background-color 0.3s ease;
  color :black; /* Smooth transition for background-color changes */
}

li:hover {
  background-color: rgba(50, 206, 112, 0.697); /* Change the background color on hover */
}
