nav{
    background-color: black;
    height:auto;
    width:auto;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 15px;
}
a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
li:hover:not(active){
    background-color: rgb(5,171,5);
}
